.App {
  margin: 24px;

  &__board {
    display: grid;
    width: 480px;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
  }

  &__cell {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 4px;
  }

  &__cell--active {
    background-color: yellow;
  }

  &__cell--clicked {
    background-color: green;
  }

  &__cell--unclicked {
    background-color: red;
  }

  &__form {
    margin: 12px 0 12px;
  }
}
